* {
  margin: 0;
  font-family: "Quicksand", sans-serif;
}

.success-class {
  display: flex;
  justify-content: center;
  background-color: #658864;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 60%;
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
}
.error-class {
  display: flex;
  justify-content: center;
  background-color: #ff8080;
  color: #fff;
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 60%;
  font-size: 14px;
  text-align: center;
  margin: 10px auto;
}

.unnstyled-link {
  color: inherit;
  text-decoration: none;
  margin: 2px 5px 20px;
}

.nav-link {
  display: inline-block;
  position: relative;
  color: #0087ca;
  color: inherit;
  text-decoration: none;
  margin: 2px 5px 20px;
}
/* .hover-underline-animation {
  display: inline-block;
  position: relative;
  color: #0087ca;
} */

.nav-link::after {
  content: "";
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #a4a4a4;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

header {
  width: 100%;
  height: 55px;
}

nav {
  display: flex;
  justify-content: center;
}

ul {
  margin: 0 auto;
  width: 90%;
  display: flex;
  justify-content: space-between;
}

ul :not(:first-child) {
  margin-top: 5px;
}

#logo {
  margin-right: auto;
  background: linear-gradient(rgb(181, 181, 181), rgb(137, 136, 136));
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 10px;
  font-weight: bold;
  font-size: 1.39rem;
  text-decoration: none;
}

nav ul {
  margin: 0px;
  padding: 15px 0px 5px 20px;
}

nav li {
  margin-right: 40px;
  list-style: none;
  text-decoration: none;
  display: inline;
  color: #272727;
}

@media (max-width: 600px) {
  ul :nth-child(2) {
    display: none;
  }
  ul :nth-child(4) {
    display: none;
  }
}
